{% extends "base.html" %}
{% load static %}
{% block head_title %}
Add Feed
{% endblock %}

{% block content %}
    <!-- Header -->
<div class="header mt-md-5">
    <div class="header-body">
    
    <!-- Pretitle -->
    <h6 class="header-pretitle">
        Our Platform
    </h6>

    <!-- Title -->
    <h1 class="header-title">
        Add Feed
    </h1>

    </div>
</div>
<div class="row">
    <div class="justify-content col-md-6">
        <div class="card">
            <div class="card-body text-left">
                <!-- Form -->
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="save btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="justify-content col-md-6">
        <div class="card">
            <div class="card-body text-left">
                <div class="row">
                    <div class="col-auto">
                        <img src="{{icon|slice:'0:-3'}}160">
                    </div>
                    
                    <div class="col ml--1">
                        <h2>{{appName}}</h2>
                        <a href="{{appURL}}" target="_blank"><h4>{{publisher}}<h4></a>
                        {{price}}<br><br>
                        
                        {% if store == 'AND' %}
                            <a href="{{appURL}}" target="_blank"><img src={% static "assets/img/google_play.png" %} height="50"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    <hr>
        <h2> &nbsp;Recent Feeds </h2>
        <div class="card">
            <div class="card-body text-left">
               <p> No feeds founds.<br>
                    Submit this as the first feed for this app.</p>
            </div>
        </div>


    </div>
</div>




{% endblock %}