{% if is_paginated %}
{% load i18n %}

{% comment %} <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#!">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#!">1</a></li>
                      <li class="page-item"><a class="page-link" href="#!">2</a></li>
                      <li class="page-item"><a class="page-link" href="#!">3</a></li>
                      <li class="page-item"><a class="page-link" href="#!">Next</a></li>
                    </ul>
                  </nav> {% endcomment %}
<div class="col">
  <ul class="pagination">
    {% block previouslink %}
    {% if page_obj.has_previous %}
    {% if disable_link_for_first_page and page_obj.previous_page_number == 1 %}
    <li class="page-item"><a href="{{ request.path }}{% if getvars %}?{{ getvars|slice:"1:" }}{% endif %}" class="page-link">{{ previous_link_decorator|safe }}{% trans "previous" %}</a></li>
    {% else %}
    <li class="page-item"><a href="?page{{ page_suffix }}={{ page_obj.previous_page_number }}{{ getvars }}" class="page-link">{{ previous_link_decorator|safe }}{% trans "previous" %}</a></li>
    {% endif %}
    {% else %}
    {% if display_disabled_previous_link %}
    <span class="disabled prev">{{ previous_link_decorator|safe }}{% trans "previous" %}</span>
    {% endif %}
    {% endif %}
    {% endblock previouslink %}
    {% block pagelinks %}
    {% if display_page_links %}
    {% for page in pages %}
    {% if page %}
    {% ifequal page page_obj.number %}
    <li class="page-item active"><a class="page-link">{{ page }}</a></li>
    {% else %}
    {% if disable_link_for_first_page and page == 1 %}
    <li class="page-item"><a href="{{ request.path }}{% if getvars %}?{{ getvars|slice:"1:" }}{% endif %}" class="page-link">{{ page }}</a></li>
    {% else %}
    <li class="page-item"><a href="?page{{ page_suffix }}={{ page }}{{ getvars }}" class="page-link">{{ page }}</a></li>
    {% endif %}
    {% endifequal %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endblock pagelinks %}
    {% block nextlink %}
    {% if page_obj.has_next %}
    <li class="page-item"><a href="?page{{ page_suffix }}={{ page_obj.next_page_number }}{{ getvars }}" class="page-link">{% trans "next" %}{{ next_link_decorator|safe }}</a></li>
    {% else %}
    {% if display_disabled_next_link %}
    <span class="disabled next">{% trans "next" %}{{ next_link_decorator|safe }}</span>
    {% endif %}
    {% endif %}
    {% endblock nextlink %}
  </ul>
</div>

{% endif %}
